@using CTOBusinessLogic.ViewModels
@model List<CostViewModel>
@{
    ViewData["Title"] = "Cost";
}
<div class="text-center">
    <h1 class="display-4">Статьи затрат</h1>
</div>
<div class="text-center">
    @{
        <p>
            <a asp-action="CreateCost">Создать статью затрат</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Затрата
                    </th>
                    <th>
                        Цена
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CostName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CostPrice)
                        </td>
                        <td>
                            <a asp-action="UpdateCost" asp-route-id="@item.Id">Изменить</a> |
                            <a asp-action="BindCost" asp-route-id="@item.Id">Привязать</a> |
                            <a asp-action="DeleteCost" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>